{{- define "main" }}
    {{- $pages := where .Site.RegularPages "Type" "post" }}
    {{- $paginator := .Paginate $pages }}

    {{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
        {{- partial "home_info.html" . }}
    {{- end }}

    <div class="blog-categories">
        {{- range .Site.Taxonomies.categories.Alphabetical }}
            <h2>{{ .Name }}</h2>
            <div class="portfolio-projects">
                {{- $category := .Name }}
                {{- range where .Pages "Params.categories" "intersect" (slice $category) }}
                    <div class="project">
                        <div class="project-header">
                            <div class="small-icons">
                                <a href="{{ .Permalink }}"><i class="fa-solid fa-up-right-from-square"></i></a>
                            </div>
                        </div>
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Summary }}</p>
                    </div>
                {{- end }}
            </div>
        {{- end }}
    </div>
{{- end }}

