{{- define "main" }}
    {{- $pages := where .Site.RegularPages "Type" "post" }}
    {{- $paginator := .Paginate $pages }}

    {{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
        {{- partial "home_info.html" . }}
    {{- end }}

    <div class="blog-categories">
        {{- range .Site.Taxonomies.categories.Alphabetical }}
            <div class="category-card">
                <a href="{{ "/categories/" | relLangURL}}{{ . | urlize }}">
                    <h2>{{ . }}</h2>
                </a>
            </div>
        {{- end }}
    </div>
{{- end }}

